@import './mixins.scss';

$round: 5px;
$orange: #f50;
$fontBig: 2rem;
$fontMed: 1.5rem;
$fontXL: 3.5rem;

.body-wrapper {
  width: 80%;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

ul {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

input {
  border-style: none;
}

input:focus {
  outline: none;
}

@include respond-to('xlarge') {
  .container {
    width: 1250px;
  }
}
