$round: 4px;
$gray9: #999;
$orange: #f50;
$dark-orange: #f30;
$bordergray: #ccc;
$gray: #333;
$lightgray: #f2f2f2;
$dustwhite: #e5e5e5;
$skullwhite: #eee;
$font-sm: 1.5rem;
$font-md: 1.8rem;
$font-lg: 2.5rem;
$font-xl: 3.5rem;

@include respond-to('small') {
  .container {
    width: 950px;
  }
}

@include respond-to('medium') {
  .container {
    width: 95%;
  }
}

@include respond-to('xlarge') {
  .container {
    width: 1250px;
  }
}

.container {
  background: white;
  padding-left: 30px;
  padding-right: 30px;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: #f2f2f2;
}

ul {
  list-style: none;
}

.truncate {
  color: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
}

a:visited, a:hover, a:focus {
  text-decoration: none;
}

a, a:hover, a:visited {
  color: inherit;
}

input, button {
  border-style: none;
  background-color: transparent;
}

input:focus {
  outline: none;
}

:focus {
  outline: none;
}

.body-wrapper {
  position: relative;
  min-height: 100vh;
}

.nav-body {
  padding-top: 50px;
}

.player-on {
  padding-bottom: 46px;
}

label {
  font-weight: inherit;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

.shown {
  opacity: 1;
  visibility: visible;
  transition: opacity 600ms linear;
}

.hid {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 600ms, opacity 600ms linear;
}

.overlay-hid {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 300ms, opacity 300ms linear;
}

.smooth-show {
  opacity: 0;
  transition: opacity 500ms;
}

.show {
  opacity: 1;
}

textarea {
  resize: none;
}

.orange-bg {
  background: linear-gradient(135deg,#e6846e,#846170);
}

.warn {
  border: 1px solid $orange !important;
  font-size: 12px;
}

.font-orange {
  color: $orange;
}

.animation-stripes{
  background: repeating-linear-gradient(
    -45deg,
    #b9b9b9,
    #b9b9b9 10px,
    #9c9c9c 10px,
    #9c9c9c 20px
  );
  -webkit-animation:progress 500ms linear infinite;
  -moz-animation:progress 500ms linear infinite;
  -ms-animation:progress 500ms linear infinite;
  animation:progress 500ms linear infinite;
}

@-webkit-keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -75px 0px;
  }
}
@-moz-keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -75px 0px;
  }
}
@-ms-keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -75px 0px;
  }
}
@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -70px 0px;
  }
}
