$round: 4px;
$orange: #f50;
$dark-orange: #f30;
$bordergray: #ccc;
$gray: #333;
$lightgray: #f2f2f2;
$dustwhite: #e5e5e5;
$skullwhite: #eee;
$font-sm: 1.5rem;
$font-md: 1.8rem;
$font-lg: 2.5rem;
$font-xl: 3.5rem;

@include respond-to('small') {
  .container {
    width: 100%;
  }
}

@include respond-to('medium') {
  .container {
    width: 95%;
  }
}

@include respond-to('xlarge') {
  .container {
    width: 1250px;
  }
}

.container {
  background: white;
  padding-left: 30px;
  padding-right: 30px;
}

ul {
  padding: 5px 7px;
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: #f2f2f2;
}

ul {
  list-style: none;
}

a {
  color: #000;
}

a:visited {
  color: inherit;
}

a:visited, a:hover, a:focus {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

input, button {
  border-style: none;
  background-color: transparent;
}

input:focus {
  outline: none;
}

:focus {
  outline: none;
}

.body-wrapper {
  position: relative;
  min-height: 100vh;
}

.nav-body {
  padding-top: 50px;
}

.player-on {
  padding-bottom: 46px;
}

label {
  font-weight: inherit;
}

p {
  margin: 0;
}

li {
  list-style: none;
}
