$breakpoints: (
  'small'  : 400px,
  'medium' : 990px,
  'large'  : 1200px,
  'xlarge' : 1350px
);

@mixin respond-to($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value != null {
    @media (min-width: $value) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin placeholder($color) {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $color;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: $color;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: $color;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $color;
    }
}

@mixin flex($justify) {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin overlay() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin button-transparent($paddingY, $paddingX, $color: #7d7d7d) {
  border-radius: $round;
  background: transparent;
  border: 1px solid $color;
  padding: $paddingY $paddingX;
}

@mixin z-up($z) {
  z-index: $z;
  position: relative;
}

@mixin orange-button($font-size) {
  background-color: $orange;
  border-color: $orange;
  font-size: $font-size;
  cursor: pointer;
  color: white;
  border-radius: $round;
}

@mixin searchbar($width) {

}

@mixin grow($size: 1){
  -webkit-flex-grow: $size;
  -ms-flex-positive: $size;
  flex-grow: $size;
}

@mixin hide-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
}

@mixin before-image {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin linear-trans {
  transition: all 200ms linear;
}

@mixin full-width {
  margin: 0 -30px;
}

@mixin not-active {
  pointer-events: none;
  cursor: default;
}

@mixin play-action($url) {
  background-image: url($url);
  content: '';
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: 40% 60%;
  background-position: 60% center;
  background-repeat: no-repeat;
}
