.charts-page-container {
  width: 62%;
  padding: 30px 30px 0 0;
  border-right: 1px solid $lightgray;
  h3 {
    color: $gray9;
    font-weight: 400;
    font-size: $font-sm;
    margin-bottom: 40px;
  }
}

@include respond-to("large") {
  .charts-page-container {
    width: 70%
  }
}

.like-track-actions-wrapper {
  display: none;
}

.charts-page-outerbox {
  position: relative;
  margin-bottom: 100px;
}

.charts-header {
  border-bottom: 1px solid $lightgray;
  padding-bottom: 5px;
  margin-bottom: 30px;
  span {
    font-size: $font-lg;
    color: $orange;
  }
}

.charts-extras {
  position: absolute;
  right: 20px;
  top: 30px;
  width: 300px;
}

// ------------------------ TOP TRACKS ------------------------

.chart-item-plays:before {
  background-size: 16px 16px;
  background-image: url("https://res.cloudinary.com/flikr/image/upload/v1487206641/right-arrow_y4n13p.svg");
  @include before-image;
}

.chart-item-plays {
  align-self: center;
  line-height: 17px;
  display: block;
  color: $gray9;
  span {
    margin-left: 3px;
  }
}

.charts-table {
  width: 100%;
  min-height: 100vh;
  float: left;
  padding-bottom: 20px;
  border-bottom: 1px solid $lightgray;
}

.charts-filter-wrapper {
  color: $orange;
  position: relative;
  span {
    margin-right: 25px;
  }
}

.charts-filter {
  @include button-transparent(4px, 10px, $orange);
  width: 220px;
  position: relative;
  font-weight: 100;
  text-align: left;
  span:after {
    content: ' ';
    border-right: 1px solid $orange;
    border-bottom: 1px solid $orange;
    height: 5px;
    width: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.charts-main-list-header {
  display: flex;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 5px;
  letter-spacing: 1px;
  color: $gray9;
  margin-bottom: 10px;
  position: relative;
}

.tracks-loader {
  position: absolute;
  color: black;
  top: 150px;
  right: 50%;
}

.list-header-number {
  width: 110px;
}

.list-header-track {
  flex-grow: 1;
}

.charts-genres-wrapper {
  display: none;
  z-index: 100;
  position: absolute;
  box-shadow: 0 1px 8px rgba(0,0,0,.2);
  background-color: #fff;
  width: 218px;
  left: 69px;
  font-weight: 100;
  color: $gray;
  overflow-y: scroll;
  height: 400px;
}

.charts-genres-list {
  padding: 10px 15px;
  li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  li:hover {
    color: $orange;
    a {
      color: inherit;
    }
  }
}

.all {
  padding-bottom: 15px;
  margin-bottom: 15px !important;
  border-bottom: 1px solid #f2f2f2;
  font-weight: 700;
}

.charts-genres-show {
  display: block;
}

.charts-filter-dropped {
  background: $orange;
  color: white;
  span:after {
    border-color: white;
  }
}

.chart-track {
  display: flex;
  @include linear-trans;
  padding: 10px;
  margin: 0 -10px 0px -10px;
  border-radius: $round;
}

.chart-track:hover, .chart-track-playing {
  background-color: #f2f2f2;
  cursor: pointer;
  .play-overlay {
    display: block;
  }
  .chart-track-actions {
    display: flex;
  }
  .chart-item-plays {
    display: none;
  }
}

.chart-item {
  flex-grow: 1;
  display: flex;
  cursor: pointer;
  background-size: cover;
  padding-right: 20px;
  background-position: center;
  a {
    display: inline;
  }
  .track-artwork {
    box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
    width: 50px;
    margin-right: 20px;
    height: 50px;
  }
  .track-text-info {
    line-height: 22px;
    display: flex;
    width: 66%;
    flex-direction: column;
  }
  .artist-name {
    order: -1;
    color: $gray9;
    font-size: 13px;
  }
  .play-overlay {
    left: 20%;
    top: 20%;
    right: 20%;
    bottom: 20%;
  }
}

.chart-item:hover {
  .track-actions {
    display: none;
  }
  .playing {
    display: block;
    left: 20%;
    top: 20%;
    right: 20%;
    bottom: 20%;
  }
}

.chart-track-position {
  align-self: center;
  width: 40px;
  font-size: $font-md;
}

.chart-track-actions {
  align-self: center;
  display: none;
  button {
    @include gray-button;
  }
  button:before {
    content: '';
    background-size: 16px 16px;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 2px;
    left: 3px;
  }
}

.chart-heart:before {
  background-image: url("https://res.cloudinary.com/flikr/image/upload/v1487060772/heart-orange_yldrgk.svg");
}

.chart-dead-heart:before {
  background-image: url("https://res.cloudinary.com/flikr/image/upload/v1487144907/heart-dead_i3yygg.svg");
}

.chart-playlist:before {
  background-image: url("https://res.cloudinary.com/flikr/image/upload/v1487061754/playlist-add_dwprwk.svg");
}
