.collections-header {
  display: flex;
  margin: 30px 0;
  font-size: $font-lg;
  padding-bottom: 5px;
  border-bottom: 1px solid $lightgray;
  font-weight: 700;
  letter-spacing: 0.7px;
  li {
    margin-right: 40px;
  }
}

a.active, .active {
  color: $orange;
  padding-bottom: 9px;
  border-bottom: 1px solid $orange;
}

.empty-box {
  height: 70%;
  border: 1px solid #ccc;
  cursor: default;
}

.collection-wrapper {
  .trending {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid $lightgray;
  }
}

.collection-header {
  margin-bottom: 20px;
  font-size: $font-md;
  font-weight: 700;
}

.likes-wrapper {
  .collection-header {
    margin-bottom: 25px;
    font-size: $font-md;
    color: $gray9;
  }
}
