.charts-like-track {
  display: flex;
  padding: 5px;
  .track-artwork {
    margin-right: 15px;
  }
  a {
    display: block;
    @include truncate;
  }
  .like-track-actions-wrapper {
    display: block;
  }
}

.like-popup {
  position: fixed;
  right: 50px;
  top: 65px;
  opacity: 0;
  background: white;
  box-shadow: 0 0 4px rgba(0,0,0,.2), inset 0 0 2px rgba(255,255,255,1);
  border: 1px solid #ccc;
  transition: opacity 2s;
  display: flex;
  z-index: 300;
  width: 300px;
}

.like-popup-up {
  opacity: 1;
}

.like-popup-close {
  display: flex;
  transition: opacity 500ms;
  opacity: 0;
  margin-left: auto;
  justify-content: center;
  margin-right: 5px;
  border-radius: 50%;
  align-self: center;
  line-height: 11px;
  width: 15px;
  height: 15px;
  background: $bordergray;
  color: white;
}

.like-popup:hover .like-popup-close {
  opacity: 1;
}

.like-popup-bye {
  opacity: 0;
}

.like-popup-text-info {
  display: flex;
  justify-content: center;
  font-size: 13px;
  flex-direction: column;
  a {
    color: #38d;
  }
}

.like-popup-artist {
  font-weight: 700;
}

.like-popup-cover {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center center;
}

.charts-like-track:hover {
  .play-overlay {
    display: block;
  }
}

.like-history-header {
  display: flex;
  justify-content: space-between;
  padding: 7px 3px;
  color: $gray9;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 8px;
}

.history-before-image:before {
  @include before-image;
  vertical-align: -2.8px;
  opacity: 0.5;
  margin-right: 5px;
}

.gray-heart:before {
  background-image: url('https://res.cloudinary.com/flikr/image/upload/v1487144907/heart-dead_i3yygg.svg');
}

.calendar:before {
  opacity: 1;
  background-image: url('https://res.cloudinary.com/flikr/image/upload/v1487283572/history_jl6oiz.png');
}

.like-history-container {
  margin-bottom: 15px;
  position: relative;
  min-height: 250px;
  a:hover {
    color: $gray;
  }
}

.l-bar-fixed {
  position: fixed;
  width: inherit;
  top: 65px;
}

.like-history-item {
  .track-text-info {
    line-height: 17px;
  }
}
.like-track-actions {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: $gray9;
  a {
    display: inline;
  }
  li {
    margin-right: 10px;
  }
  li:hover {
    a {
      color: $gray;
    }
  }
}

.mini-heart:before {
  vertical-align: -4.3px;
  margin: 0;
}

.comments-bubble:before {
  @include before-image;
  background-image: url('https://res.cloudinary.com/flikr/image/upload/v1487273754/comments_on8bgs.svg');
}

.fa-spin {
  position: absolute;
  top: 34%;
  left: 40%;
  font-size: 35px;
}


// LOGGED OUT

.history-pitch {
  background: $lightgray;
  display: block;
  padding: 35px;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  span {
    white-space: normal;
  }
}

.pitch-wrapper {
  display: flex;
  margin-bottom: 25px;
}

.history-pitch-text {
  display: flex;
  flex-direction: column
}

.heyhey {
  margin-right: 5px;
  align-self: center;
}

.history-mainpitch {
  font-weight: 700;
}

.history-pitch-button {
  @include orange-button($font-sm);
  padding: 5px 19px;
  text-align: center;
  span {
    color: white;
  }
}
