.charts-like-track {
  display: flex;
  padding: 5px;
  .track-artwork {
    margin-right: 15px;
  }
  a {
    display: inline;
  }
  .like-track-actions-wrapper {
    display: block;
  }
}

.charts-like-track:hover {
  .play-overlay {
    display: block;
  }
}

.like-history-header {
  display: flex;
  justify-content: space-between;
  padding: 7px 3px;
  color: $gray9;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 8px;
}

.history-before-image:before {
  @include before-image;
  vertical-align: -2.8px;
  opacity: 0.5;
  margin-right: 5px;
}

.gray-heart:before {
  background-image: url('https://res.cloudinary.com/flikr/image/upload/v1487144907/heart-dead_i3yygg.svg');
}

.calendar:before {
  opacity: 1;
  background-image: url('https://res.cloudinary.com/flikr/image/upload/v1487283572/history_jl6oiz.png');
}

.like-history-container {
  margin-bottom: 30px;
  position: relative;
  min-height: 250px;
  a:hover {
    color: $gray;
  }
}

.l-bar-fixed {
  position: fixed;
  width: inherit;
}

.like-history-item {
  .track-text-info {
    line-height: 17px;
  }
}
.like-track-actions {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: $gray9;
  li {
    margin-right: 10px;
  }
  li:hover {
    a {
      color: $gray;
    }
  }
}

.mini-heart:before {
  vertical-align: -4.3px;
  margin: 0;
}

.comments-bubble:before {
  @include before-image;
  background-image: url('https://res.cloudinary.com/flikr/image/upload/v1487273754/comments_on8bgs.svg');
}

.fa-spin {
  position: absolute;
  top: 34%;
  left: 40%;
  font-size: 35px;
}
