.playlist-create-tracks-wrapper {
  border: 1px solid $lightgray;
  .playlist-create-track-wrapper:last-child {
    border-bottom: none;
  }
}

.playlist-create-track-wrapper {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $lightgray;
  padding-left: 5px;
  font-size: 13px;
}

.playlist-create-track-cover {
  width: 20px;
  margin-right: 7px;
  display: inline-block;
  height: 20px;
  background-size: cover;
}

.playlist-create-artist-name {
  color: $gray9;
  margin-right: 3px;
}

.playlist-create-separator {
  background-color: rgba(242,242,242,.9);
  height: 5px;
  margin: 15px -30px;
}


.recommendations-wrapper {
  h3 {
    font-size: $font-sm;
    padding-bottom: 15px;
    border-bottom: 1px solid $lightgray;
    margin: 0;
  }
  .playlist-create-track-wrapper {
    height: 65px;
  }
}

.recommendations-track-cover {
  width: 50px;
  margin-right: 10px;
  display: inline-block;
  height: 50px;
  background-size: cover;
}

.recommendations-track-info {
  display: flex;
  flex-direction: column;
}

.playlist-add-button {
  margin-left: auto;
  height: 100%;
  background: linear-gradient(to right,rgba(255,255,255,.1),#fff 20px);
  button {
    vertical-align: -23px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 100;
    padding: 5px 10px;
    border: 1px solid $bordergray;
  }
  .added {
    border-color: $orange;
    color: $orange;
  }
}


.return-button-wrapper {
  margin-left: auto;
  margin-right: 5px;
}

.playlist-create-return-button {
  display: inline-block;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAPklEQVQ4y2NIS0v7D8IMZAK4fqoZhFOAVAOobhCxCoi2kGoG4dJAdqRQzSCqGUAzlwxcGA2edDR48tqgK48ATdKVBR2e0ZQAAAAASUVORK5CYII=') no-repeat 50% 50%;
  background-size: 9px 9px;
  width: 15px;
  height: 15px;
  vertical-align: -1px;
  border: 0;
  margin: 0 2px 0 0;
  padding: 0;
}

.audio-image:before {
  @include before-image;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCI+PHBhdGggZmlsbD0iIzIyMiIgZD0iTTUgMTJoMnY0SDV6TTIxIDEyaDJ2NGgtMnpNMTcgMTBoMnY4aC0yek05IDhoMnYxMkg5ek0xMyA1aDJ2MThoLTJ6Ii8+PC9zdmc+');
  background-size: 16px 16px;
  height: 12px;
  vertical-align: baseline;
}

.playlists-ul {
  margin-top: 20px;
  li:last-child {
    border-bottom: none;
  }
}

.playlist-modal {
  -webkit-animation-duration: 600ms;
  -webkit-animation-delay: 0;
  -moz-animation-duration: 600ms;
  -moz-animation-delay: 0;
  -ms-animation-duration: 600ms;
  -ms-animation-delay: 0;
  overflow-x: hidden;
  height: auto;
  padding: 20px;
  display: block;
  border: none;
  width: 550px;
  .track-artwork {
    margin-right: 15px;
  }
  .track-text-info {
    width: auto;
  }
}

.playlist-modal-overlay {
  background-color: rgba(242,242,242,.9);
}

.playlist-headers-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.playlist-headers {
  display: flex;
  border-bottom: 1px solid $lightgray;
  font-size: 22px;
  padding-bottom: 5px;
  li {
    cursor: pointer;
  }
  li:first-child {
    margin-right: 20px;
  }
}

.playlist-input {
  border-radius: $round;
  width: 100%;
  border: 1px solid $gray9;
  padding-left: 5px;
  font-weight: 100;
  border-radius: 4px;
  padding: 2px 0 2px 5px;
}

.submit-wrapper {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.privacy-options {
  &> * {
    margin-right: 10px;
  }
  input[type="radio"] {
    margin-right: 5px;
  }
}

.playlist-item {
  padding-right: 0;
  cursor: default;
  padding: 15px 0;
  border-bottom: 1px solid $lightgray;
  .track-link {
    z-index: 0;
    background-image: url(https://res.cloudinary.com/flikr/image/upload/v1488953101/playlist-covers_yecotf.png);
    box-sizing: content-box;
    padding: 6px 6px;
    width: 50px;
    height: 50px;
    background-size: contain;
    position: absolute;
    top: -6px;
    bottom: 0;
    left: -6px;
    right: 0;
  }
}


.playlist-add-button .add-to-playlist {
  vertical-align: -13px;
}

.has-track {
  color: $orange;
}

.playlist-create-form-wrapper .signup {
  padding: 0 10px;
  font-weight: 100;
}
