.player {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $lightgray;
  border-top: 1px solid rgba(0,0,0,.15);
  height: 46px;
  visibility: visible;
  font-size: 11px;
}

.player-controls {
  background-color: #f2f2f2;
  padding: 0;
  height: 100%;
}

.player-controls-elements {
  height: inherit;
  display: flex;
}

.skip-control {
  width: 33px;
  height: 46px;
  background-repeat: no-repeat;
}

.previous {
  background-image: url("https://res.cloudinary.com/flikr/image/upload/v1486448452/prev-34697d_x5ccly.svg");
  background-position: 40% center;
}

.track-state {
  width: 46px;
  height: 46px;
  margin: 0 6px;
}
.is-playing {
  background: url('https://res.cloudinary.com/flikr/image/upload/v1486448659/pause-b172a6_mqhzru.svg') no-repeat 55% center;
}

.is-paused {
  background: url('https://res.cloudinary.com/flikr/image/upload/v1486448452/play-c9d2fb_cyfsj3.svg') no-repeat 55% center;
}

.next {
  background-image: url('https://res.cloudinary.com/flikr/image/upload/v1486448452/skip-3aac31_jbcrvv.svg');
  background-position: 60% center;
  margin-right: 40px;
}

.player-timeline {
  margin-right: 30px;
  @include grow(5);
}

//----------------------------------- TIMELINE -----------------------------

.playbacktime {
  display: flex;
}

.playback-duration {
  width: 25px;
  height: 46px;
  line-height: 46px;
}

.time-passed {
  text-align: right;
}

.playback-scroll-container {
  padding: 10px 0;
  margin: 13px 10px 0 10px;
  @include grow;
  position: relative;
  cursor: pointer;
}

.duration {
  text-align: left;
}

.playback-progress-tracker, .playback-progress-handle {
  position: absolute;
  top: 10px;
}

.playback-progress-bar {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.playback-progress-tracker {
  width: 0;
  height: 1px;
  background-color: $orange;
  transition: width 50ms;
}

.playback-progress-handle {
  border: 1px solid $orange;
  border-radius: 100%;
  height: 8px;
  width: 8px;
  background-color: $orange;
  box-sizing: border-box;
  margin-top: -3px;
  opacity: 0;
  transition: opacity 150ms;
}

.playback-scroll-container:hover .playback-progress-handle {
  opacity: 1;
}

//----------------------------------- Volume -----------------------------

.player-volume {
  width: 25px;
  margin-right: 40px;
  position: relative;
}

.volume-control {
  background: url("https://res.cloudinary.com/flikr/image/upload/v1486508425/volume-medium-ca80e5_in1lq9.svg") no-repeat;
  height: 100%;
  width: 25px;
  background-position: center 46%;
}

.volume-slider {
  display: none;
  position: absolute;
  width: 100px;
  height: 30px;
  transform: rotate(90deg);
  bottom: 70px;
  right: -35px;
  background: $lightgray;
  border: 1px solid rgba(0,0,0,.15);
}

.player-volume:hover .volume-slider {
  display: block;
}

.volume-slider-bar, .volume-slider-progress {
  position: absolute;
  bottom: 14px;
  right: 10px;
  height: 2px;
}

.volume-slider-bar {
  width: 85%;
  background-color: #ccc;
}

.volume-slider-progress {
  width: 5%;
  background-color: $orange;
  transition: width 50ms;
}

//----------------------------------- PlayerSoundbadge ------------------------

.player-soundbadge {
  @include grow;
  margin-right: 20px;
  display: flex;
  padding: 8px 0;
  line-height: 1.5em;
}

.player-soundbadge-cover {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: cover;
}

.player-soundbadge-titlefield {
  a {
    display: block;
  }

  line-height: 1.5rem;
  @include hide-text-overflow;
  margin-left: 10px;
  letter-spacing: 0.8px;
}

.player-tracks-source {
  color: #999;
}
