.login {
  cursor: pointer;
  @include button-transparent(5px, 10px);
  margin-right: 10px;
  font-size: $font-sm;
    a {
      color: white;
    }
}

.signup {
  @include orange-button($font-sm);
}

.signup:hover {
  background-color: $dark-orange;
}

.session-buttons {
  @include flex(flex-end);
}

.enter:hover {
  border-color: white;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.facebook {
  background-color: #264285;
  background-image: linear-gradient(#3857A1,#264285);
  border-color: #264285;
  color: #fff;
  line-height: 18px;
  border-style: none;
  border-radius: $round;
  margin-bottom: 30px;
}

.react-modal {
  margin: 120px auto;
  height: 550px;
  width: 450px;
  display: flex;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 70px 20px;
  z-index: 100;
}

.react-modal-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.separator {
  display: flex;
  align-items: center;
}

.separator div {
  height: 1px;
  width: 43%;
  background: black;
}

.separator span {
  padding: 0 33px;
}

.modal-container input {
  display: block;
  width: 100%;
  padding: 10px;
  border-style: groove;
  border-radius: $round;
}

.modal-container > * {
  margin-bottom: 10px;
}
