.splash-info {
  margin: 20px 0;
  padding: 0px 30px;
}

.splash {
  padding: 0;
}

// -------------------- BANNER --------------------
.banner-signup {
  @include flex(space-between);
  @include z-up(10);
  padding: 10px;
}

.brand {
  font-size: $font-lg;
}

.banner {
  background-image: url('https://res.cloudinary.com/flikr/image/upload/c_scale,w_1200/v1486158999/by96lar-34o-hans-vivek_wndlsy.jpg');
  height: 450px;
  background-size: cover;
  padding: 10px 20px;
  color: white;
  position: relative;
  position: relative;

}

.banner-overlay {
  @include overlay;
}

.banner-message {
  font-size: $font-xl;
  margin: 100px auto;
  @include z-up(10);
  width: 65%;
  text-align: center;

}

.message-pop {
  color: $orange;
}

// -------------------- SEARCH BAR --------------------

.splash-search {
  color: #666;
  outline: 0;
  border: 0;
  padding: 5px 7px;
  display: inline-block;
  position: relative;
  width: 600px;
    input {
      background: #e5e5e5;
      padding-left: 12px;
      border-radius: $round;
      width: 100%;
      height: 40px;
    }
    button {
      position: absolute;
      right: 17px;
      top: 15px;
    }
}

// -------------------- TRENDING --------------------

.splash-trending {
  text-align: center;
  button {
      @include orange-button($font-md);
      padding: 10px 20px;
  }
  h2 {
    margin: 35px 0;
  }
}

.trending {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  text-align: left;
}

.trending-item {
  width: 33%;
  height: 240px;
  cursor: pointer;
  background-size: cover;
  padding-right: 20px;
  background-position: center;
  span {
    width: 100%;
    display: block;
    height: 70%;
  }
  a {
    display: block;
  }
}

@include respond-to('medium') {
  .trending-item {
    width: 25%;
    height: 250px;
  }
}

@include respond-to('large') {
  .trending-item {
    width: 16.666%;
    height: 240px;
  }
}
