.gradient-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  img {
    position: absolute;
    height: 89%;
    top: 20px;
    min-width: 200px;
    min-height: 200px;
    right: 20px;
  }
}

.track-banner-wrapper {
  @include full-width;
  position: relative;
  padding: 30px 560px 20px 30px;
  width: inherit;
  height: 380px;
  margin-bottom: 25px;
  background: #e5e5e5;
}

.track-detail-actions {
  display: flex;
}

.track-detail-player {
  z-index: 100;
  width: 60px;
  height: 60px;
  .play-overlay {
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .track-artwork {
    height: 100%;
    background: transparent !important;
  }
  .track-artwork-cover {
    background: transparent !important;
  }
  .track-text-info {
    position: absolute;
    top: 2px;
    display: flex;
    left: 76px;
    flex-direction: column;
    font-weight: 100;
    .track-title {
      color: white;
      background-color: rgba(0,0,0,.8);
      padding: 0px 7px;
      order: 2;
      font-size: $font-lg;
      @include not-active;
    }
    .artist-name {
      margin-bottom: 5px;
    }
    .artist-name a {
      color: $bordergray;
      padding: 3px 7px;
      background-color: rgba(0,0,0,.8);
      font-size: $font-sm;
    }
  }
}

.track-detail-player .track-artwork:hover {
  .artwork-shade {
    display: none;
  }
  .track-actions {
    display: none;
  }
}

.track-detail-cover {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.loaded {
  opacity: 1;
}

.wave-player-wrapper {
  position: absolute;
  left: 30px;
  right: 390px;
  bottom: 0;
}

#waveform {
  margin-bottom: 30px;
}

.track-detail-info-wrapper {
  position: absolute;
  top: 27px;
  right: 390px;
  text-align: right;
  font-weight: 100;
  color: #fff;
  font-size: $font-md;
  span {
    display: block;
  }
}

.posted-at {
  margin-bottom: 15px;
}

.track-detail-genre {
  background: $gray9;
  border-radius: 30px;
  padding: 1px 13px;
}

// ---------------------- COMMENTS --------------------------

.comment-form {
  display: flex;
  height: 40px;
  a {
    height: 100%;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.author-pic {
  width: 40px;
  height: 40px;
}

.text-wrapper {
  flex-grow: 7;
  padding: 5px;
  background: $lightgray;
  border: 1px solid $dustwhite;
}


.comment-box {
  @include placeholder($gray9);
  width: 100%;
  cursor: pointer;
  color: #333;
  height: 100%;
  background: white;
  padding-left: 9px;
  border: 1px solid $dustwhite;
  border-radius: $round;
}

.comment-box:focus {
  cursor: text;
  border-color: #999;
}

.comment-container {
  padding-top: 0;
}

.track-share-interaction {
  display: flex;
  button:before {
    top: 4px;
    left: 7.5px;
  }
  button {
    font-weight: 100;
    text-indent: 0;
    width: 70px;
    text-align: right;
    padding-right: 10px;
    height: 26px;
  }
  .chart-heart {
    color: $orange;
  }
}

.comment-container-transition-layer {
  margin-bottom: 10px;
}

.track-share-actions {
  display: flex;
  justify-content: space-between;
}

.track-share-info {
  display: flex;
  color: $gray9;
  li:before {
    @include before-image;
    vertical-align: -4px;
  }
  span {
    margin-left: 5px;
  }
}

.track-detail-likes {
  margin-right: 15px;
}

.track-detail-likes:before {
  opacity: 0.48;
  background-image: url('https://res.cloudinary.com/flikr/image/upload/v1487144907/heart-dead_i3yygg.svg');
}

.track-detail-plays:before {
  background-image: url('https://res.cloudinary.com/flikr/image/upload/v1487206641/right-arrow_y4n13p.svg');
}
