.upload-content {
  width: 800px;
  margin: 50px auto;
  padding: 30px 25px 0 25px;
  box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
  border: 1px solid #f2f2f2;
  text-align: center;
  h1 {
    font-size: $font-lg;
  }
  h2 {
    font-size: $font-sm;
  }
}

.upload-pitch {
  display: flex;
  width: 80%;
  margin: 0 auto 30px auto;
}

.upload-instructions {
  margin-bottom: 35px;
}

.upload-feature {
  display: flex;
  width: 50%;
  align-items: center;
  flex-direction: column;
  p {
    text-align: center;
  }
}

.upload-feature-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  height: 100px;
  width: 100%
}

.waves {
  background-image: url('https://res.cloudinary.com/flikr/image/upload/v1486692768/waveform_2x-4d70da_mmxkuu.png');
}

.comment-bubble {
  background-image : url('https://res.cloudinary.com/flikr/image/upload/v1486692775/messaging_2x-459e05_fiwvqr.png');
}

.upload-session {
  justify-content: center;
  .enter {
    border-color: #ccc;
    a {
      color: $gray;
    }
  }
  .login {
    padding: 6px 15px;
    font-weight: 100;
    font-size: $font-md;
  }
}

// ------------------------ LOGGED IN -----------------------------

.upload-file {
  @include orange-button($font-md);
  padding: 5px 10px;
}

.upload-actions {
  margin: 65px 0;
}

.upload-data-header {
  border-bottom: 1px solid #f2f2f2;
  text-align: left;
  font-size: $font-lg;
  margin-bottom: 25px;
  color: $orange;
  line-height: 47px;
  span {
    padding-bottom: 10px;
    border-bottom: 1.5px solid $orange;
  }
}

.track-cover-wrapper {
  width: 260px;
  height: 260px;
  float: left;
  border: 1px solid $lightgray;
  position: relative;
  background-size: cover;
}

.track-image-upload {
  background: $lightgray;
  position: absolute;
  border-radius: $round;
  bottom: 10px;
  left: center;
  left: 52px;
  display: flex;
  align-items: center;
  padding: 5px 25px;
}

.track-image-upload:before {
  content: '';
  width: 20px;
  width: 20px;
  display: inline-block;
  height: 12px;
  background-repeat: no-repeat;
  background-size: 15px 12px;
  background-image: url('https://res.cloudinary.com/flikr/image/upload/v1486764346/download_mkznkv.svg');
}

.upload-data-fields {
  float: right;
  width: 60%;
  text-align: left;
  font-weight: 400;
  input, textarea {
    font-weight: 100;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 3px 5px;
    border-radius: $round;
  }
  textarea {
    height: 90px;
  }
}

.active-upload-wrapper {
  border-top: 1px solid $lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  margin: 0 -26px;
  padding: 10px 30px;
}

.legend {
  font-size: 12px;
}

.upload-save {
  @include orange-button($font-sm);
  font-weight: 100;
  padding: 3px 10px;
}

.asterisk {
  color: $orange;
}

.track-upload-genre-field {
  position: relative;
  font-weight: 100;
}

.genre {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: $round;
  width: 200px;
  text-align: left;
  margin-bottom: 15px;
}

.genre:focus {
  box-shadow: 0 0 0 4px #e5e5e5;
}


.genres {
  display: none;
  box-shadow: 0 1px 8px rgba(0,0,0,.2);
  background-color: #fff;
  width: 200px;
  overflow-y: scroll;
  height: 300px;
  padding: 10px 20px;
  position: absolute;
  top: 28px;
  li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  li:hover {
    color: $orange;
  }
}

.genres-selecting {
  display: block
}
